html {
    font-family: Montseratt, sans-serif;
    font-size: 20px;
    background-color: #DBDBDB;
}

.container {
    width: 930px;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 90%;
    height: 90%;
}

p.decorated{   
    font-size: 1.2em;
}
.rounded {
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
.primary-color{
    background-color: #88879f;
}
.secondary-color {
    background-color: #2b495d;
    color: #fff;
}
.accent-color {
    background-color: #7e2a2b;
    color: #fff;
}
/* for the blocks saving proportions ↓↓↓ */
.box {
    position: relative;
    width: 90%;
    margin: 0 auto;     
}
.box:before{
    content: "";
    display: block;
    padding-top: 66%;           /* initial ratio of 3:2*/
  }
.inner-box{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* for the blocks saving proportions ↑↑↑ */


@media (max-width: 570px) {
    html {
        font-size: 13px;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3{
        font-size:1.2em;
    }

    .container {
        width: 96%;
        margin: 0 auto;
    }

}