html{
    font-family: Montseratt, sans-serif;
    font-size: 18px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 1.8em;
}


@media (max-width: 570px){
    html{
        font-size: 14px;
    }
    .container{
        width: 96%;
        margin: 0 auto;
    }
}